.btn-secondary {
	color: $color-font-white;
	background-color: $brand-pink;
	border: 1px solid $color-font-white;
	font-family: $font-header-bold;
	font-weight: 700;
	box-shadow: $box-shadow;
}
.btn-secondary:hover {
	color: $color-font-white;
	background-color: $brand-red;
	border: 1px solid $color-font-white;
}
