html, body {
	height: 100%;
}

body {
	overflow-x: hidden;
	overflow-y: scroll;
	-webkit-font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
	-o-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	overflow-x: hidden;
	font-family: $font-primary;
	color: $brand-grey;
	line-height: 18px;
	font-size: 16px;
	position: absolute;
    width: 100%;
}
body>header {
	position: fixed;
	z-index: 99;
	left: 0;
	top: 0;
	width: 100%;
	-webkit-transition: background-position .4s ease-in;
	-moz-transition: background-position .4s ease-in;
	-o-transition: background-position .4s ease-in;
	transition: background-position .4s ease-in;
}