footer {
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#e12f8b+0,38215c+49,e12f8b+100 */
  background: rgb(225,47,139); /* Old browsers */
  background: -moz-linear-gradient(45deg, rgba(225,47,139,1) 0%, rgba(56,33,92,1) 49%, rgba(225,47,139,1) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(45deg, rgba(225,47,139,1) 0%,rgba(56,33,92,1) 49%,rgba(225,47,139,1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(45deg, rgba(225,47,139,1) 0%,rgba(56,33,92,1) 49%,rgba(225,47,139,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e12f8b', endColorstr='#e12f8b',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
	padding: 50px 0;
	color: $color-font-white;
	min-height: 35px;
  border-top: 1px solid #ccc;

}
footer a {
	color: $color-font-white;
    font-weight: 500;
}
footer h3 {
  color: $color-font-white;
        font-size: 1.9em;
      letter-spacing: -.02em;
      font-family: $font-alt;
      font-weight: 700;
      line-height: 1.4;
}

footer section:first-child() {
    
}
footer section:nth-child(2) {

}
footer .col-sm-6 section {
    margin-top: 30px;
    text-align: right;

    @media (max-width: 768px) {
      text-align: center;
    }
}
footer section {
  @media (max-width: 768px) {
    text-align: center;
  }
}
footer a:hover {
    text-decoration: none;
    border-bottom: 0px solid $brand-red;
}
footer li a {
    padding: 5px 0;
    color: $color-font-white;
}
footer li {
    padding: 4px 0;
}
.footer-stay-up {
    text-align: left;
    margin-left: 0px;
    margin-bottom: 8px;
    margin-top: 40px;
    padding-left: 40px;
    
    @media (max-width: 768px) {
      text-align: center;
      padding-left: 0px;
    }

    li {
        display: inline;
    }
    .li-i {
        padding: 3px;
    }
    .li-i a {
        color: $color-font-white;
    }
}
.wealthbuilder {
    margin-left: 2.25em;
    text-align: left;
    font-size: .95em;

    @media (max-width: 768px) {
      margin-left: 0px;
      text-align: center;
    }
}
.fa-lg {
    font-family: "fontAwesome";
    font-style: normal;
}
.my-other-sites, 
.footer-nav {
    margin-left: 0em;
    padding-left: 0em;
    list-style-type: none;
    margin-top: 2em;
}

#gform_2 {
  margin-left: 0;
}

#gform_2 .gform_body {
  width: 82%;
  max-width: 80%;

  @media (max-width: 768px) {
      width: 100%;
      max-width: 100%;
      margin: 0 auto;
  }
}

#gform_wrapper_2 .gfield_label {
  display: none;
}

#gform_wrapper_2 #input_2_2 {
  background-color: transparent;
  border-width: 0px;
  border-bottom: 3px solid #dcddde;
  font-size: 1em;
  color: white;
  font-weight: 500;
  letter-spacing: -.02em;
}

#gform_wrapper_2 #input_2_2:active,
#gform_wrapper_2 #input_2_2:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
  outline: none;
  color: $brand-grey;
}

#gform_wrapper_2 #gform_submit_button_2 {
  text-transform: capitalize;
  font-weight: bold;
  letter-spacing: -.02em;
  color: $color-font-white;
  background-color: $brand-red;
  padding: 8px 13px;
  border-radius: 3px;
  border-width: 0px;
  color: $color-font-white;
}

.footer-contact-us {
  text-align: right;
  margin-top: 20px;
  list-style-type: none;

  @media (max-width: 768px) {
    text-align: center;
    padding-left: 0px;
  }
}

.footer-contact-us li a {
  font-size: .85em;
  text-transform: none;
  color: $color-font-white;
}

.footer-contact-us i,
.footer-contact-us svg,
.footer-contact-us .svg-inline--fa {
  font-size: 24px;
  margin: 7px;
}

#menu-footer-menu {
    padding-top: 1.5em;
    padding-bottom: 10px;
    margin-bottom: 0;

    @media (max-width: 768px) {
      text-align: center;
    }
}
#menu-footer-menu li {
    display: inline;
    padding: 5px 10px;
    
    @media (max-width: 768px) {
      text-align: center;
      padding: 0px 5px;
    }
}
#menu-footer-menu li a {
    font-size: .85em;
    color: $color-font-white;
}
.footer-disclaimer p {
    color: $brand-grey;
    font-size: .85em;
    text-align: center;
    font-weight: 500;
}


