header {
	background-color: $brand-purple;
	-webkit-transition: all 0.4s ease;
	-moz-transition: all 0.4s ease;
	-o-transition: all 0.4s ease;
	transition: all 0.4s ease;
	box-shadow: $box-shadow;
}
header:hover, 
header:focus, 
header:active {
	//background-color: rgba(58, 58, 58, .5);
}
.home-header-container {
	background-repeat: no-repeat;
    padding: 100px 0px 0px 0px;
    height: 600px;
    background-position: 500px 150px;
}
.header-scroll {
	background-color: $color-bg-white;
	-webkit-transition: all 0.4s ease;
	-moz-transition: all 0.4s ease;
	-o-transition: all 0.4s ease;
	transition: all 0.4s ease;
	box-shadow: $box-shadow;
	height: 60px;

	@media (max-width: 992px) {
	    height: 50px;
	}
}
.navbar-toggler {
	display: none;
	color: $color-font-white;
	font-size: 2em;
	float: right;
	padding: .25rem 0 .25rem .75rem;

	@media (max-width: 992px) {
	    display: block;
	}
}
.mobile-menu {
	display: none;
	background: #84266B;

	a {
		color: $color-font-white;
		font-family: $font-header-bold;
		font-size: 1.25em;
	    line-height: 2.5;
	    text-transform: none;
	    letter-spacing: -.02em;
	}

	@media (max-width: 992px) {
	    display: block;
	}
}
.desktop-menu {
	display: block;
	text-align: center;

	@media (max-width: 992px) {
	    display: none;
	}
}
.social-menu {
	display: block;

	@media (max-width: 992px) {
	    display: none;
	}
}