.home .main {
	top: 35px;

	@media (max-width: 992px) {
	    top: 0px;
	}
}
.slider-row .btn-secondary {
    color: #65a5cd;
    font-weight: 700;
    font-size: 22px;
    border-radius: 10px;
    padding: 10px 40px;
    letter-spacing: .01rem;
    -webkit-animation: pulse 2s infinite cubic-bezier(0.66, 0, 0, 1);
    -moz-animation: pulse 2s infinite cubic-bezier(0.66, 0, 0, 1);
    -ms-animation: pulse 2s infinite cubic-bezier(0.66, 0, 0, 1);
    animation: pulse 2s infinite cubic-bezier(0.66, 0, 0, 1);
    box-shadow: 0 0 0 0 rgba(116, 185, 214, .7);
}
.slider-row .btn-secondary:hover 
{
  -webkit-animation: none;
  -moz-animation: none;
  -ms-animation: none;
  animation: none;
}
.slider-row {
	.ls-container {
		h1 {
			color: $color-font-white;
			font-family: $font-primary;
			letter-spacing: -1px;
		    font-size: 45px;
		    line-height: 50px;
		    font-weight: 700;
		    text-transform: uppercase;
		    text-shadow: 1px 1px 0 rgba(14,23,29,.43);
		}
		#social-list-header {
			max-width: inherit;
    		margin-top: 60px;
		}
		i.icon-background {
			font-size: 48px;
			color: $color-font-white;
		}
		i.icon-dark {
			color: #467e9a;
			padding-top: 5px;
		}
	}
}
.slider-row {
	.mobile-container {
		h1 {
			color: $color-font-white;
			font-family: $font-primary;
			letter-spacing: -1px;
		    font-size: 42px;
		    line-height: 41px;
		    font-weight: 700;
		    text-transform: uppercase;
		    text-shadow: 1px 1px 0 rgba(14,23,29,.43);
		}
		#social-list-header {
			max-width: inherit;
    		margin-top: 60px;
		}
		i.icon-background {
			font-size: 48px;
			color: $color-font-white;
		}
		i.icon-dark {
			color: #467e9a;
			padding-top: 5px;
		}
	}
}
@-webkit-keyframes pulse {to {box-shadow: 0 0 0 15px rgba(232, 76, 61, 0);}}
@-moz-keyframes pulse {to {box-shadow: 0 0 0 15px rgba(232, 76, 61, 0);}}
@-ms-keyframes pulse {to {box-shadow: 0 0 0 15px rgba(232, 76, 61, 0);}}
@keyframes pulse {to {box-shadow: 0 0 0 15px rgba(232, 76, 61, 0);}}

.hero-row {
	min-height: 600px;

	// turn off column padding so textbox stretches entire width
	.vc_column_container>.vc_column-inner {

	}
	.wpb_wrapper {

	}
}
.hero-headline {
	margin-top: 200px;

	h1 {
		color: $color-font-white;

		span {
			background-color: rgba(255,255,255,.4);
			padding: 0 10px;
		}
	}
	h4 {
		margin-bottom: 30px;
		color: $color-font-white;
		font-family: $font-primary;

		span {
			background-color: rgba(255,255,255,.4);
			padding: 0 10px;
		}
	}
	h5 {
		margin-bottom: 0px;
		color: $brand-pink;
		text-transform: uppercase;
		font-family: $font-alt;
		font-size: 1em;

		span {
			background-color: rgba(255,255,255,.4);
			padding: 0 10px;
		}
	}
}
.col-left {
	.wpb_wrapper {
		background: rgba(255,255,255,.85);
	}
}
.col-right {
	.wpb_wrapper {
		background: rgba(0,0,0,.85);
	}
}
.sharephotos {
	p {
		color: $color-font-white; 
		font-size: 2.9em;
		letter-spacing: -.02em;
		font-family: $font-header-bold;
		font-weight: 700;
		line-height: 1.2;
		margin-bottom: 40px;
		margin-top: 40px;

		@media (max-width: 992px) {
		    font-size: 1.5em;
		    line-height: 1.5;
		}
	}

	.btn-danger {
		font-family: $font-header-bold;
		font-weight: 700;
		padding: .75rem 1rem;
		font-size: 1.5em;
	}

	.social-nav {
		padding-left: 0px;

		li {
			display: inline;

			a {
				padding: .5em;
				font-size: 2em;
			}

			a:hover {
				color: $brand-red;
			}
		}
	}
}
.drivenswag {
	p {
		color: $brand-dk-purple; 
		font-size: 1em;
		letter-spacing: -.02em;
		font-family: $font-header-bold;
		font-weight: 500;
		line-height: 1.2;
		margin-bottom: 40px;
		margin-top: 40px;

		@media (max-width: 992px) {
		    font-size: 1.5em;
		    line-height: 1.5;
		}
	}
	h2 {
		color: $brand-pink-lt;
	    font-size: 1.5em;
	    letter-spacing: -.02em;
	    font-family: $font-alt;
	    font-weight: 700;
	    line-height: 1.4;
	    margin-bottom: 40px;
	    margin-top: 40px;
	}

	.btn-danger {
		font-family: $font-header-bold;
		font-weight: 700;
		padding: .75rem 1rem;
		font-size: 1.5em;
	}
}
.twitter-column {
	text-align: center;

	h2 {
		font-family: futura-pt-bold,sans-serif;
	    font-size: 2em;
	    line-height: 2.5;
	    text-transform: uppercase;
	    letter-spacing: -.02em;
	    text-align: center;
	    color: $brand-dk-purple;
	    border-bottom: 5px solid $brand-pink;
	    display: inline-block;
	}
}
.news-and-media h3, 
.merch-column h2 {
	font-family: futura-pt-bold,sans-serif;
	font-size: 2em;
	line-height: 1.5;
	text-transform: uppercase;
	letter-spacing: -.02em;
	text-align: center;
	color: $brand-dk-purple;
	display: inline-block;
	margin-bottom: 20px;
}
.merch-column h2 {
	text-align: center;
    margin-bottom: 0;
    margin-top: 50px;
    font-size: 3rem;
}
.merch-column {
	text-align: center;
}
.news-and-media .entry-content h3:after {
    content: ""; /* This is necessary for the pseudo element to work. */ 
    display: block; /* This will put the pseudo element on its own line. */
    margin: 0 auto; /* This will center the border. */
    width: 40%; /* Change this to whatever width you want. */
    padding-top: 10px; /* This creates some space between the element and the border. */
    border-bottom: 5px solid $brand-pink; /* This creates the border. Replace black with whatever color you want. */
    float: left;
}

.schedule-column {
	text-align: center;

	h2 {
		font-family: futura-pt-bold,sans-serif;
	    font-size: 2em;
	    line-height: 2.5;
	    text-transform: uppercase;
	    letter-spacing: -.02em;
	    text-align: right;
	    color: $brand-dk-purple;
	    border-bottom: 5px solid $brand-pink;
	    display: inline-block;
	}
	.EvcalWidget {

	}
}
.column-partners {
	
	h2 {
		font-family: futura-pt-bold,sans-serif;
	    font-size: 3em;
	    line-height: 1;
	    text-transform: uppercase;
	    letter-spacing: -.02em;
	    text-align: center;
	    color: $brand-dk-purple;
	    display: inline-block; 

	    @media (max-width: 992px) {
		    font-size: 2em;
		    line-height: 1;
		}
	} 

	h2:after {
	    content: ""; /* This is necessary for the pseudo element to work. */ 
	    display: block; /* This will put the pseudo element on its own line. */
	    margin: 0 auto; /* This will center the border. */
	    width: 40%; /* Change this to whatever width you want. */
	    padding-top: 10px; /* This creates some space between the element and the border. */
	    border-bottom: 5px solid $brand-pink; /* This creates the border. Replace black with whatever color you want. */
	    float: left;

	    @media (max-width: 992px) {
		    width: 100%;
		}
	}
}
.home .woocommerce ul.products li.product .button {
	display: none;
}
.home .woocommerce ul.products li.product {
	padding: 30px;
}
.home .home-col-gradient {
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#38215c+0,e12f8b+100&0.5+0,0.2+100 */
	background: -moz-linear-gradient(top, rgba(56,33,92,0.5) 0%, rgba(225,47,139,0.2) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, rgba(56,33,92,0.5) 0%,rgba(225,47,139,0.2) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, rgba(56,33,92,0.5) 0%,rgba(225,47,139,0.2) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8038215c', endColorstr='#33e12f8b',GradientType=0 ); /* IE6-9 */
	border-bottom: 15px solid #2F282A;
}
.uc-sport-slider-mt .uc-sport-slider-container .uc-sport-slider-content span {
	margin-left: 0px !important;
	background-color: rgba(255,255,255,.5);
	display: inline !important;
}
.uc-sport-slider-mt .uc-sport-slider-container .uc-sport-slider-content a.uc-btn:last-child {
	display: none;
}
.uc-sport-slider-mt .uc-sport-slider-container .uc-sport-slider-content a.uc-btn {
	color: $color-font-white !important;
	background-color: $brand-red;
}
.uc-sport-slider-mt .uc-sport-slider-container .uc-sport-slider-content strong {
	margin-bottom: 50px !important;
	background-color: rgba(255,255,255,.5);
}

.home .woocommerce-loop-product__title {
	color: #E12F8B;
	font-family: $font-header-bold;
}
.home .woocommerce ul.products li.product .price {
	color: #2F282A;
	font-family: $font-header-bold;
}