.navbar-header {
	padding: 15px 0;
	-webkit-transition: all 0.4s ease;
	-moz-transition: all 0.4s ease;
	-o-transition: all 0.4s ease;
	transition: all 0.4s ease;
}
.navbar-header-scroll {
	padding: 3px 0;
}
.nav-link,
.navbar-light .navbar-nav .nav-link,
.mega-menu-link {
	color: $color-font-white;
	font-family: $font-header-bold;
	font-size: 1.25em;
    line-height: 2.5;
    text-transform: none;
    letter-spacing: -.02em;
}
.navbar-nav .nav-item {
	margin: 0 .5rem;
}
.navbar-light .navbar-nav .nav-link.active,
.mega-current-menu-item .mega-menu-link {
	color: $color-font-red;
}
.nav-link:hover,
.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link.active:hover,
.mega-menu-link:hover {
	color: $brand-pink;
}
.nav-scroll {
	-webkit-transition: all 0.4s ease;
	-moz-transition: all 0.4s ease;
	-o-transition: all 0.4s ease;
	transition: all 0.4s ease;
	margin: 5px 0px;
}
.navbar {
    position: relative;
    padding: .5rem 1rem;

    @media (max-width: 768px) {
	    padding: 0rem 1rem;
	}
}
.navbar-brand>img {
	max-height: 60px;
	width: auto;

	@media (max-width: 768px) {
	    max-height: 40px;
	}
}
#mega-menu-wrap-primary_navigation #mega-menu-primary_navigation {
	background: transparent;
	padding: 5px 0px 10px 0px;
}
.navbar-header {
	padding: 0 0 0 0 !important;
}
#menu-social-navigation {
	float: right;
	margin: 5px 0 5px 0px;

	li {
		display: inline;
		padding: .5rem;
		line-height: 2.5;

		a {
			font-size: 1.4rem;
			color: $brand-pink-lt;

		}
		a:hover {
			color: $color-font-white;
		}
	}
}
#menu-main-menu {
	display: inline-block;
}
.navbar-header-scroll {
	.navbar-toggler,
	.mega-menu-link, 
	.nav-link, 
	.navbar-light .navbar-nav .nav-link {
		color: $brand-dk-purple;
	}

	.nav-link, 
	.navbar-light .navbar-nav .nav-link {
		line-height: 1;
	}

	.mega-menu-link:hover, 
	.nav-link:hover, 
	.navbar-light .navbar-nav .nav-link:hover {
		color: $brand-pink;
	}

	.navbar-brand>img {
		max-height: 40px;
	}

	#menu-social-navigation {
		margin-top: 5px;
	}

}