.speaker-info {
	
	h2 {
		font-family: futura-pt-bold,sans-serif;
	    font-size: 3em;
	    line-height: 1;
	    text-transform: uppercase;
	    letter-spacing: -.02em;
	    text-align: center;
	    color: $brand-dk-purple;
	    display: inline-block; 

	    @media (max-width: 992px) {
		    font-size: 2em;
		    line-height: 1;
		}
	} 

	h2:after {
	    content: ""; /* This is necessary for the pseudo element to work. */ 
	    display: block; /* This will put the pseudo element on its own line. */
	    margin: 0 auto; /* This will center the border. */
	    width: 40%; /* Change this to whatever width you want. */
	    padding-top: 10px; /* This creates some space between the element and the border. */
	    border-bottom: 5px solid $brand-pink; /* This creates the border. Replace black with whatever color you want. */
	    float: left;

	    @media (max-width: 992px) {
		    width: 100%;
		}
	}

	h3  {
		font-family: $font-header-bold;
		font-size: 2em;
		line-height: 1.5;
		text-transform: uppercase;
		letter-spacing: -.02em;
		text-align: center;
		color: $brand-dk-purple;
		display: inline-block;
		margin-bottom: 20px;
	}
	h3:after {
	    content: ""; /* This is necessary for the pseudo element to work. */ 
	    display: block; /* This will put the pseudo element on its own line. */
	    margin: 0 auto; /* This will center the border. */
	    width: 40%; /* Change this to whatever width you want. */
	    padding-top: 10px; /* This creates some space between the element and the border. */
	    border-bottom: 5px solid $brand-pink; /* This creates the border. Replace black with whatever color you want. */
	    float: left;
	}

	.testimonial-message p {
		font-size: 2.5em;
		line-height: 1.25;
		font-family: $font-alt;
		font-weight: 500;

		@media (max-width: 992px) {
		    font-size: 1.5em;
		    line-height: 1;
		}
	}
	.testimonial-author {
		color: $color-font-white;
		font-size: 2.5em;
		line-height: 1.25;
		font-family: $font-header-bold;
		color:  $brand-pink-lt;

		@media (max-width: 992px) {
		    font-size: 1.5em;
		    line-height: 1;
		}
	}
	.testimonial-name {
		font-size: 1em;
	}
	.testimonial-tagline {
		color: $color-font-white;
		font-style: normal;
	}
	.bne-testimonial-slider.bne-flexslider .flex-control-nav {
		left:  50%;
		bottom: 0px;
	}
	.main ul:not(.slides) {
	  list-style: none; /* Remove default bullets */
	}

	.main ul:not(.slides) li::before {
	  content: "\2022";  /* Add content: \2022 is the CSS Code/unicode for a bullet */
	  color: $brand-pink; /* Change the color */
	  font-weight: bold; /* If you want it to be bold */
	  display: inline-block; /* Needed to add space between the bullet and the text */ 
	  width: 1em; /* Also needed for space (tweak if needed) */
	  margin-left: -1em; /* Also needed for space (tweak if needed) */
	}
}
.page .brand-container,
.page .brand-container,
.single .brand-container {
	display: none;
}
.page .entry-content {
	margin-top: 0px;
}
.full-width {
	padding: 50px 0;
    width: 100vw;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;

    @media (max-width: 992px) {
	    //left: 40%;
	}
}
.page .full-width {
	border-bottom: 10px solid #e6e6e6;
	padding-top: 200px;
	//background-size: cover !important;
	max-height: 800px !important;
	min-height: 600px !important;

	@media (max-width: 768px) {
	    min-height: 400px;
		max-height: 600px;
	}
}

#bgndVideo {
	height: 600px !important;

	@media (max-width: 992px) {
	    padding-top: 100px;
		height: 400px;
	}
}
.content-header {
	h1,
	time, 
	a, 
	h3
	 {
		color: $color-font-white;
	}
	h1 {
		margin-bottom: 0px;
		padding-bottom: 0px;
		font-weight: 700;
		font-size: 56px;
		line-height: 56px;
		clear: both;
    	float: left;
	}
	h3 {
		font-size: 40px;
		line-height: 44px;
		clear: both;
    	float: left;
	}
	.icon-dark {
		color: $brand-grey;
	}
	#social-list-header {
		
	}
	.header-text-dark h1,
	.header-text-dark h3,
	.header-text-dark a {
		color: $brand-grey;
	}
	.header-text-dark .icon-dark {
		color: #fff;
	}
	.header-text-light h1,
	.header-text-light a {
		//color: $brand-dk-purple;
		//background: rgba(255,255,255,.5);
    	display: inline-block;
    	padding: 25px;
    	font-size: 4em;
    	letter-spacing: -.02em;

    	@media (max-width: 992px) {
	      font-size: 2em;
	      padding: 15px;
	      line-height: 1;
	    }
	}
	.header-text-light h3 {
		color: $brand-red;
		font-family: $font-header-bold;
		letter-spacing: -.02em;
		font-size: 3em;
		background: rgba(255,255,255,.5);
    	display: inline-block;
    	padding: 15px;
    	padding-top: 0px;
    	text-align: left;

    	@media (max-width: 768px) {
	      font-size: 2em;
	      padding: 5px;
	    }
	}
	.header-text-light .icon-dark {
		color: #3a3a3a;
	}
}

.nav-tabs {
	border-bottom-width: 0px;
}
.nav-tabs .nav-item {
	width: 33%;
}
.nav-tabs .nav-item:first-child() a:before {
    content: "\f015";
    margin-right: 15px;
    font-family: Fontawesome;
}
.nav-tabs .nav-item:nth-child(2) a:before {
    content: "\f1ad";
    margin-right: 15px;
    font-family: Fontawesome;
}
.nav-tabs .nav-item:last-child() a:before {
    content: "\f1ad";
    margin-right: 15px;
    font-family: Fontawesome;
}
.nav-tabs .nav-link.active,
.nav-tabs .nav-link.active:hover {
	border-top-width: 0;
	border-right-width: 0;
	border-left-width: 0;
	color: #0ea0d7;
}
.nav-tabs .nav-link:focus, 
.nav-tabs .nav-link:hover {
	border-top-width: 0;
	border-right-width: 0;
	border-left-width: 0;
}
.nav-tabs .nav-link {
	color: #aaa;
	border-bottom: 3px solid #fff;
}
.nav-tabs .nav-link.active {
	border-bottom: 3px solid #0ea0d7;
}
.nav-tabs .nav-link.active:hover {
	border-bottom: 3px solid #aaa;
}
.spp-powered-by {
	display: none !important;
}
.highlights {
	p {
		color: $color-font-white;
	}

	h2 {
		font-family: futura-pt-bold,sans-serif;
	    font-size: 3em;
	    line-height: 2;
	    text-transform: uppercase;
	    letter-spacing: -.02em;
	    text-align: center;
	    color: $color-font-white;
	    display: inline-block; 

	    @media (max-width: 992px) {
			font-size: 2em;
		}
	} 

	h2:after {
	    content: ""; /* This is necessary for the pseudo element to work. */ 
	    display: block; /* This will put the pseudo element on its own line. */
	    margin: 0 auto; /* This will center the border. */
	    width: 40%; /* Change this to whatever width you want. */
	    padding-top: 10px; /* This creates some space between the element and the border. */
	    border-bottom: 5px solid $color-font-white; /* This creates the border. Replace black with whatever color you want. */
	    float: left;

	    @media (max-width: 992px) {
			width: 100%;
			padding-top: 0px;
		}
	}
}
.about-icon img {
	height: 60px;
	width: auto;
}
.vidbg {
	position: absolute;
    bottom: 0px;
    width: 100%;
    background: -moz-linear-gradient(left, rgba(56,33,92,0.73) 0%, rgba(223,47,139,0.73) 99%, rgba(225,47,139,0.73) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(left, rgba(56,33,92,0.73) 0%,rgba(223,47,139,0.73) 99%,rgba(225,47,139,0.73) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right, rgba(56,33,92,0.73) 0%,rgba(223,47,139,0.73) 99%,rgba(225,47,139,0.73) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ba38215c', endColorstr='#bae12f8b',GradientType=1 ); /* IE6-9 */
}
h4 {
	font-family: futura-pt-bold,sans-serif;
    text-transform: uppercase;
    letter-spacing: -.02em;
    color: $brand-dk-purple;
    display: block;
}

hr { 
    background: url('/hr_icon_jen_jo_cobb.png') no-repeat top center;
    background-size: contain;
    display: block;
    height: 18px;
    border: 0;
    position: relative;
    margin: 20px 0;
}
hr:before,
hr:after {
    content: '';
    display: block;
    position: absolute;
    background: #d7d7d7;
    height: 1px;
    top: 8px;
}
hr:before {
    left: 0;
    right: 50%;
    margin-right: 20px;
}
hr:after {
    right: 0;
    left: 50%;
    margin-left: 20px;
}
strong {
	font-weight: 900;
}
