.page .brand-container,
.single .brand-container {
	display: none;
}
.full-width {
	padding: 50px 0;
    width: 100vw;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
}
.page .full-width {
	border-bottom: 10px solid #e6e6e6;
	padding-top: 200px;
	//background-size: cover !important;
	height: 600px !important;

	@media (max-width: 768px) {
	    padding-top: 200px;
		min-height: 400px;
	}
}

header.content-header {
	h1,
	time, 
	a, 
	h3
	 {
		color: $color-font-white;
	}
	h1 {
		margin-bottom: 0px;
		padding-bottom: 0px;
		font-weight: 700;
		font-size: 56px;
		line-height: 56px;
	}
	h3 {
		font-size: 40px;
		line-height: 44px;
	}
	.icon-dark {
		color: $brand-grey;
	}
	#social-list-header {
		
	}
	.header-text-dark h1,
	.header-text-dark h3,
	.header-text-dark a {
		color: $brand-grey;
	}
	.header-text-dark .icon-dark {
		color: #fff;
	}
	.header-text-light h1,
	.header-text-light a {
		color: $brand-dk-purple;
		background: rgba(255,255,255,.5);
    	display: inline-block;
    	padding: 15px;
    	font-size: 4em;
    	letter-spacing: -.02em;

    	@media (max-width: 768px) {
	      font-size: 3em;
	      padding: 5px;
	    }
	}
	.header-text-light h3 {
		color: $brand-red;
		font-family: $font-header-bold;
		letter-spacing: -.02em;
		font-size: 3em;
		background: rgba(255,255,255,.5);
    	display: inline-block;
    	padding: 15px;
    	padding-top: 0px;

    	@media (max-width: 768px) {
	      font-size: 2em;
	      padding: 5px;
	    }
	}
	.header-text-light .icon-dark {
		color: #3a3a3a;
	}
}

.nav-tabs {
	border-bottom-width: 0px;
}
.nav-tabs .nav-item {
	width: 33%;
}
.nav-tabs .nav-item:first-child() a:before {
    content: "\f015";
    margin-right: 15px;
    font-family: Fontawesome;
}
.nav-tabs .nav-item:nth-child(2) a:before {
    content: "\f1ad";
    margin-right: 15px;
    font-family: Fontawesome;
}
.nav-tabs .nav-item:last-child() a:before {
    content: "\f1ad";
    margin-right: 15px;
    font-family: Fontawesome;
}
.nav-tabs .nav-link.active,
.nav-tabs .nav-link.active:hover {
	border-top-width: 0;
	border-right-width: 0;
	border-left-width: 0;
	color: #0ea0d7;
}
.nav-tabs .nav-link:focus, 
.nav-tabs .nav-link:hover {
	border-top-width: 0;
	border-right-width: 0;
	border-left-width: 0;
}
.nav-tabs .nav-link {
	color: #aaa;
	border-bottom: 3px solid #fff;
}
.nav-tabs .nav-link.active {
	border-bottom: 3px solid #0ea0d7;
}
.nav-tabs .nav-link.active:hover {
	border-bottom: 3px solid #aaa;
}
